<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <header>
      <% include ./partials/header %>
    </header>
      <% include ./partials/jack %>
      <% include ./partials/arun %>
      <% include ./partials/music_analysis%> 
      <% include ./partials/jake %>
      <div id="starburst"></div>
    <footer>
      <% include ./partials/footer %>
    </footer>
  </body>
</html>
